.above-video {
    position: absolute;
    top : 2em;
    color : white;
    font-size: 77px;
    z-index: 2; 
    width: 100%;
}

.middle-heading {
    font-family: myRobotoLight;
    font-size: 80%;
    text-align: center;
}

.video-container {
    min-width: 100%;
    padding-top: 5%;
    filter : brightness(0.2);
    -webkit-filter : brightness(0.2);
    -moz-filter : brightness(0.2);
    -o-filter : brightness(0.2);
}

.video-container video {
    width: 100%;
    height : auto;
}

